body {
    @include base-typography;
}

.header__fork {    
    @include header-fork-link;   
}
.header__text {
    &--title {
        @include title;
    }
    &--subtitle {
        @include subtitle;
    }
    &--link {  
        @include link;              
    }
}

.parser__title {
    @include parser-title;
    text-align: center;
}
.markdown {
    &__title {
        @include parser-title;        
    }

    &__hint {
        @include parser-title;        
        margin-top: 0;

        &--link {
            position: relative;
            &:link,
            &:active,
            &:visited {
                text-decoration: none;
                color: $color-link;           
            }
            &::after {
                @include link-underline;
            }
            &:hover::after {
                @include link-transition;
            }
        }
    }

    &__textarea {
        @include textarea;
    }
}

.html {

    &__title {
        @include parser-title;
    }

    &__textarea {
        color: $monokai-orange;
    }
}

.footer {
    font-size: 2rem;
    &__link {
        text-decoration: none;
        color: $monokai-pink;       
    }
}

.preview {
    &__text {
        @include preview__text;
    }
}