<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Mono" rel="stylesheet">

    <!-- CODE MIRROR CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/codemirror.min.css" integrity="sha256-ocsH57eUY9pDJgPCOUIkWm60KNyVV8pexKFnGgXCyGs=" crossorigin="anonymous" />

    <!-- THEMES -->

    <!-- MONOKAI -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/theme/monokai.min.css" integrity="sha256-6ov3WWd9ybfZPeJBlXBgQuD/aLhTRCEp5kBhqD9ke0o=" crossorigin="anonymous" />

    <!-- DRACULA -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/theme/dracula.min.css" integrity="sha256-Dq8vPj3GNwTg9rflLnPQ8bDSLndsRxjmtWRXOwcWR4g=" crossorigin="anonymous" />
    
    <!-- MATERIAL -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/theme/material.min.css" integrity="sha256-UyTiM5wwtuGiISIGyvkdYa9kgCRJmBQ+OYU72oexofc=" crossorigin="anonymous" />
    
    <!-- MIDNIGHT -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/theme/midnight.min.css" integrity="sha256-kRJfLCotf0zxZ1yktcjFbuFPF5lZ728kqWqNJnVzSk0=" crossorigin="anonymous" />
    
    <!-- SOLARIZED -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/theme/solarized.min.css" integrity="sha256-v5CcBJnFb3uNFDq7uhR4sIS7yihsXlBxN+cwxjtzp7c=" crossorigin="anonymous" />

    <!-- RAILSCASTS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/theme/railscasts.min.css" integrity="sha256-F4plg5r0MTIXbNJ+KErz9aTJojKh8drwZSWRUBQsKOU=" crossorigin="anonymous" />

    <!-- COBALT -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/theme/cobalt.min.css" integrity="sha256-w+8VeOcoKzd5XqQTdITPf1v7o1OGGNWu0CUVEFVSMOc=" crossorigin="anonymous" />

    <!-- PARAISO LIGHT -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/theme/paraiso-light.min.css" integrity="sha256-rDjysMGhr6fQYvuXhzJy2/7Q9VKi064CklDCA11bmrQ=" crossorigin="anonymous" />

    <!-- PARAISO DARK -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/theme/paraiso-dark.min.css" integrity="sha256-qZ3eSOsXWmFBQ87+cSEtitcNQz5SrnaP7Ck2+vtfNBA=" crossorigin="anonymous" />
    
    <!-- THE MATRIX -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/theme/the-matrix.min.css" integrity="sha256-X2MvIbX+KIUGVMNfKJUJzppWUWQevbZoxSfRTD5x/2k=" crossorigin="anonymous" />

    <!-- MAIN STYLES -->
    <link rel="stylesheet" href="./css/style.css">

    <title>Simple Markdown Parser</title>
</head>
<body>
    <header class="header">
        <nav class="header__fork">
            <a href="https://github.com/diego-c/markdown-parser" rel="noopener" target="_blank" class="header__fork-link"><img src="./img/github.svg" alt="github repo" class="header__fork-link--icon"><span class="header__fork-link--text">Fork me on GitHub!</span></a>
        </nav>
    <div class="header__text">
        <h1 class="header__text--title">Simple markdown parser</h1>
        <h2 class="header__text--subtitle">Built with <a href="https://www.npmjs.com/package/markdown-it" target="_blank" class="header__text--link" rel="noopener">markdown-it</a> and <a href="https://socket.io/" target="_blank" class="header__text--link" rel="noopener">socket.io</a></h2>
    </div>
    </header>
    
    <main class="main">
        <section class="parser">
            <div class="parser__header">
                <h3 class="parser__title">Your work is always saved <span class="parser__img-wrapper"><img src="./img/sunglasses.png" alt="sunglasses" class="parser__img-wrapper--img"></span></h3>
                <h3 class="parser__title">Try refreshing the page or opening it in another tab!</h3>
                <div class="themes">
                    <label class="themes__label" for="themes-picker">Theme</label>
                    <select class="themes__picker" id="themes-picker">
                        <option value="Monokai" selected>Monokai</option>
                        <option value="Dracula">Dracula</option>
                        <option value="Material">Material</option>
                        <option value="Midnight">Midnight</option>
                        <option value="Solarized">Solarized</option>
                        <option value="Railscasts">Railscasts</option>
                        <option value="Cobalt">Cobalt</option>
                        <option value="Paraiso Light">Paraiso Light</option>
                        <option value="Paraiso Dark">Paraiso Dark</option>
                        <option value="The Matrix">The Matrix</option>
                        <option value="Default">Default</option>
                    </select>
                </div>
            </div>
            <div class="parser__wrapper">                
            <div class="markdown">                
                <h4 class="markdown__title">Type your markdown text below</h4>   
                <textarea name="markdown" id="markdown" cols="20" rows="15" placeholder="Markdown..." class="textarea markdown__textarea" ></textarea>
                <div class="copy">
                    <button class="btn copy__btn">
                        Copy to clipboard
                    </button>
                    <p class="tooltip copy__tooltip copy__tooltip--markdown">
                        Copied!
                    </p>
                </div>
                <p class="markdown__hint">In doubt? <span class="markdown__img-wrapper"><img src="./img/thinking.png" alt="thinking" class="markdown__img-wrapper--img"></span>
                    Get the cheatsheet <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" class="markdown__hint--link" target="_blank" rel="noopener">here</a></p>
            </div>

            <div class="html">
                <div class="html__title-wrapper">
                <h4 class="html__title">HTML Results</h4>

                <div class="preview">
                    <p class="preview__text">
                        Preview
                    </p>
                    <div class="toggler">
                        <div class="toggler--outer">
                          <div class="toggler--inner"></div>
                        </div>
                    </div>
                </div>  

            </div>                    

                    <div class="preview-area-wrapper">
                    <iframe id="preview" style="display:none;" width="100%" height="300px"></iframe>                    

                    <textarea name="html" id="html" cols="20" rows="15" placeholder="HTML..." class="textarea html__textarea" readonly></textarea>

                </div>
                    <div class="copy" id="html-copy">
                        <button class="btn copy__btn">
                            Copy to clipboard
                        </button>
                        <p class="tooltip copy__tooltip copy__tooltip--html">
                            Copied!
                        </p>
                    </div>
                                  
            </div>

        </div>
        </section>
    </main>   

    <footer class="footer">
        <p class="footer__text">
            Author: <a href="https://github.com/diego-c" class="footer__link" rel="noopener" target="_blank">diego-c</a> 
        </p>
        <p class="footer__text">
            License: <a href="https://github.com/diego-c/markdown-parser#license" class="footer__link" rel="noopener" target="_blank">MIT</a> 
        </p>
        <p class="footer__text">
            Emoji icons supplied by <a href="https://www.emojione.com/" class="footer__link" rel="noopener" target="_blank">EmojiOne</a> 👌            
        </p>
    </footer>

    <!-- SOCKET.IO -->
    <script src="/socket.io/socket.io.js"></script>    

    <!-- CODEMIRROR -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/codemirror.min.js" integrity="sha256-DwOSyzubDSUBuTD5ZphKKqQvSiApzpViHgvFAIeZjKE=" crossorigin="anonymous"></script>
    <!-- CODEMIRROR MARKDOWN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/mode/markdown/markdown.min.js" integrity="sha256-ZB/p9/A3EWH4LE7dZgm6O/SOl0deZZJXFSgEjlBEA3M=" crossorigin="anonymous"></script>
    <!-- CODEMIRROR XML -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/mode/xml/xml.min.js" integrity="sha256-uXK7omU6wB2VTOD8E64m+zfoMuZyAre9IwiH3S62TbQ=" crossorigin="anonymous"></script>
    <!-- CODEMIRROR CSS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/mode/css/css.min.js" integrity="sha256-wMN2pehDZLDm5sE3qzRi4NiP5capFXZCX0nZxvFZ6X0=" crossorigin="anonymous"></script>
    <!-- CODEMIRROR JAVASCRIPT -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/mode/javascript/javascript.min.js" integrity="sha256-5RDlwDVu4Wf04L1rgFfDCIovRIL+mQwvXhRKsjAm3pU=" crossorigin="anonymous"></script>   

    <!-- INITIALIZE CODEMIRROR -->
    <script src="./js/code.js"></script>

    <!-- MAIN SCRIPTS -->
    <script src="./js/index.js"></script>
    <script src="./js/toggler.js"></script>    
    <script src="./js/copy.js"></script>
    <script src="./js/ajax.js"></script> 
    <script src="./js/themes.js"></script>   
</body>
</html>
