.html {

    &__title-wrapper {
        @include clearfix;
    }

    &__title {
        display: inline-block;
        float: left;
    }

    width: $parser-section-width;
    float: right;
    &__textarea {
        @include textarea;
        width: 100%;
    }    
}